.mit {
  color: #58ff8a;
  font-size: 40px;
  background-color: rgb(248, 104, 217);
  text-align: center;
}
.b {
  color: #1808f9ae;
  font-size: size 39px;
  background-color: rgb(146, 128, 207);
  text-align: left;
}
.a {
  color: #e5c552;
  font-size: 24px;
  background-color: rgb(166, 75, 61);
  text-align: left;
}
